
body {
  font-family: sans-serif;
  background-color: #ffffff;
}

.all-wrapper {
  padding: 60px 100px;
}
.all-wrapper .card {
  padding: 20px;
  border-radius: 5px;
}
.all-wrapper .card .card_desc {
  font-size: 18px;
  color: black;
}
.all-wrapper .movies_card {
  padding-bottom: 20px;
  height: 100%;
}
.all-wrapper .movies_card .movies_card_desc {
  padding: 10px 10px 20px 10px;
  text-align: center;
  border-style: solid;
  border-radius: 2px;
  border-color: #ccc;
  border-width: 1px;
  height: 100px;
}
.all-wrapper .general_btn {
  color: #ccc;
  background-color: white;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 5px;
}

.modal .close {
  position: absolute;
  top: -40px;
  right: 20px;
  background-color: transparent;
  font-size: 28px;
  color: #ccc;
  border-style: none;
}
.img_container{
  width: 100%;
  height: 200px;
}
.img_container img{
  width: 100%;
  height: 100%;
}
.border-none{
  border-style:none !important ;
}
@media screen and (max-width: 1000px) {
  .all-wrapper {
    padding: 60px 30px;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: transparent;
    font-size: 28px;
    color: black;
    border-style: none;
  }
}